/* stylelint-disable no-descending-specificity */
body {
  background-color: #fafafa;
  text-transform: capitalize;
}

li {
  list-style: none;
}

ul {
  margin: 0;
  padding: 0;
}

.navBar {
  display: flex;
  height: 5rem;
  padding: 0 7%;
  align-items: center;
  background-color: #fff;
}

.navBar ul {
  display: flex;
}

.navBar ul li {
  margin-left: 30px;
}

.navBar ul li a {
  text-decoration: none;
  text-transform: uppercase;
}

.navBar h2 {
  font-size: 2.5em;
  font-weight: 600;
  color: #0290ff;
  font-family: Arial, Helvetica, sans-serif;
}

.bookListContainer {
  margin-top: 2rem;
  padding: 0 7%;
}

.book {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
  min-height: 80px;
  background-color: #fff;
  border-radius: 4px;
  border: solid 1px #e8e8e8;
  padding: 1.5rem 1.5rem;
}

.bookItem {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  max-width: 200px;
}

.bookTitle {
  font-size: 1.7em;
  font-weight: bold;
  margin-bottom: 5px;
  font-family: RobotoSlab, sans-serif;
}

.bookAuthor {
  color: #4386bf;
}

.addBookForm {
  margin: 0 7%;
  margin-top: 50px;
  border-top: solid 1px #e8e8e8;
  margin-bottom: 100px;
}

.addBookForm h2 {
  color: #888;
  text-transform: uppercase;
}

.addBookForm form {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.buttonAdd {
  color: #fff;
  background-color: #0290ff;
  border: none;
  outline: none;
  border-radius: 5px;
  padding: 7px 15px;
}

.addBookForm .input-text {
  width: 35%;
  height: 35px;
  padding-left: 15px;
  border: solid 1px #e8e8e8;
  outline: none;
}

.bookBigButton {
  max-height: 40px;
  background-color: #0290ff;
  border: none;
  outline: none;
  border-radius: 5px;
  color: #fff;
  margin-top: 20px;
  padding: 12px 15px;
}

.oval {
  background: linear-gradient(to left, #307bbe 0%, #379cf6 100%);
  width: 50px;
  height: 50px;
  border-radius: 1000px;
  padding: 5px;
}

.box {
  background: #fff;
  width: 50px;
  height: 50px;
  border-radius: 1000px;
}

.progress {
  display: flex;
  align-items: center;
}

.progress span {
  font-size: 1.5em;
  font-weight: 500;
}

/* progress */

.progressbar {
  position: relative;
  width: 85px;
  height: 85px;
  margin: 1em;
  transform: rotate(-90deg);
}

.progressbar__svg {
  position: relative;
  width: 100%;
  height: 100%;
}

.progressbar__svg-circle {
  width: 100%;
  height: 100%;
  fill: none;
  stroke-width: 6;
  stroke-dasharray: 440;
  stroke-dashoffset: 440;
  stroke: #379cf6;
  stroke-linecap: round;
  transform: translate(5px, 5px);
}

.shadow-scss {
  filter: drop-shadow(0 0 2px #f3f);
}

.book-category {
  font-weight: 500;
  opacity: 0.5;
  color: #121212;
}

.book-action {
  display: flex;
  margin-top: 20px;
}

.book-action li {
  padding: 0 20px;
}

.book-action li:first-child {
  padding-left: 0;
}

.book-action li:not(:first-child) {
  border-left: solid 2px #e8e8e8;
}

.book-action li input {
  color: #4386bf;
  cursor: pointer;
  background-color: transparent;
  border: none;
  outline: none;
  padding: 0;
}

.book-progress {
  display: flex;
  flex-direction: column;
}

.progress-title {
  text-transform: uppercase;
  font-family: RobotoSlab, sans-serif;
  opacity: 0.5;
  color: #121212;
  margin-bottom: 7px;
}

.circle-scss {
  animation: anim_circle-scss 1s ease-in-out forwards;
}

.progressbar__text {
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 0.25em 0.5em;
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 0.25em;
  transform: translate(-50%, -50%) rotate(90deg);
}

@keyframes anim_circle-scss {
  to {
    stroke-dashoffset: 300;
  }
}
